<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
      
        {{ content }}
      
    </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:association.partages@gmail.com">email</a></li>
        		<li><a href="https://github.com/ioldx37">github.com/ioldx37</a></li>
			</ul>
		</footer>
	</body>
</html>
